/** Se define los estilos estructurales **/

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Para que el padding y el border de los elementos estén incluidos en el alto y el ancho del elemento */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.container {
	width: 1280px;
	margin: auto;
	padding: 20px;
}

.container-fluid {
    width: 100%;
}

.container-header {
    width: 100%;
}

@media (max-width: 1279px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	.hidden-sm {
		display: none;
	}
}

@media (min-width: 1101px) and (max-width: 1199px) {
	.hidden-md {
		display: none;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none;
	}
}

#menu-small .menu-small__item {
	float: left;
	width: calc(100% / 4);
}

/* Aplico el hack clearfix */
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

/* Para móviles */
.col-xs-1 {
	float: left;
	width: calc(100% / 12);
}

.col-xs-2 { 
	float: left;
	width: calc(calc(100% / 12) * 2);
}

.col-xs-3 { 
	float: left;
	width: calc(calc(100% / 12) * 3);
}

.col-xs-4 { 
	float: left;
	width: calc(calc(100% / 12) * 4);
}

.col-xs-5 { 
	float: left;
	width: calc(calc(100% / 12) * 5);
}

.col-xs-6 { 
	float: left;
	width: calc(calc(100% / 12) * 6);
}

.col-xs-7 { 
	float: left;
	width: calc(calc(100% / 12) * 7);
}

.col-xs-8 { 
	float: left;
	width: calc(calc(100% / 12) * 8);
}

.col-xs-9 { 
	float: left;
	width: calc(calc(100% / 12) * 9);
}

.col-xs-10 { 
	float: left;
	width: calc(calc(100% / 12) * 10);
}

.col-xs-11 { 
	float: left;
	width: calc(calc(100% / 12) * 11);
}

.col-xs-12 { 
	float: left;
	width: calc(calc(100% / 12) * 12);
}

/* Para Tablets */
@media (min-width: 768px) {
	.col-sm-1 {
		float: left;
		width: calc(100% / 12);
	}

	.col-sm-2 { 
		float: left;
		width: calc(calc(100% / 12) * 2);
	}

	.col-sm-3 { 
		float: left;
		width: calc(calc(100% / 12) * 3);
	}

	.col-sm-4 { 
		float: left;
		width: calc(calc(100% / 12) * 4);
	}

	.col-sm-5 { 
		float: left;
		width: calc(calc(100% / 12) * 5);
	}

	.col-sm-6 { 
		float: left;
		width: calc(calc(100% / 12) * 6);
	}

	.col-sm-7 { 
		float: left;
		width: calc(calc(100% / 12) * 7);
	}

	.col-sm-8 { 
		float: left;
		width: calc(calc(100% / 12) * 8);
	}

	.col-sm-9 { 
		float: left;
		width: calc(calc(100% / 12) * 9);
	}

	.col-sm-10 { 
		float: left;
		width: calc(calc(100% / 12) * 10);
	}

	.col-sm-11 { 
		float: left;
		width: calc(calc(100% / 12) * 11);
	}

	.col-sm-12 { 
		float: left;
		width: calc(calc(100% / 12) * 12);
	}
}

/* Para escritorios medium */
@media (min-width: 992px) {
    .container-fluid {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .container-header {
        width: 300px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #333333;
        overflow: auto;
    }

	.col-md-1 {
		float: left;
		width: calc(100% / 12);
	}

	.col-md-2 { 
		float: left;
		width: calc(calc(100% / 12) * 2);
	}

	.col-md-3 { 
		float: left;
		width: calc(calc(100% / 12) * 3);
	}

	.col-md-4 { 
		float: left;
		width: calc(calc(100% / 12) * 4);
	}

	.col-md-5 { 
		float: left;
		width: calc(calc(100% / 12) * 5);
	}

	.col-md-6 { 
		float: left;
		width: calc(calc(100% / 12) * 6);
	}

	.col-md-7 { 
		float: left;
		width: calc(calc(100% / 12) * 7);
	}

	.col-md-8 { 
		float: left;
		width: calc(calc(100% / 12) * 8);
	}

	.col-md-9 { 
		float: left;
		width: calc(calc(100% / 12) * 9);
	}

	.col-md-10 { 
		float: left;
		width: calc(calc(100% / 12) * 10);
	}

	.col-md-11 { 
		float: left;
		width: calc(calc(100% / 12) * 11);
	}

	.col-md-12 { 
		float: left;
		width: calc(calc(100% / 12) * 12);
	}
}

/* Para escritorios large */
@media (min-width: 1200px) {
    .container-fluid {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .container-header {
        width: 300px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #333333;
        overflow: auto;
    }

	.col-lg-1 {
		float: left;
		width: calc(100% / 12);
	}

	.col-lg-2 { 
		float: left;
		width: calc(calc(100% / 12) * 2);
	}

	.col-lg-3 { 
		float: left;
		width: calc(calc(100% / 12) * 3);
	}

	.col-lg-4 { 
		float: left;
		width: calc(calc(100% / 12) * 4);
	}

	.col-lg-5 { 
		float: left;
		width: calc(calc(100% / 12) * 5);
	}

	.col-lg-6 { 
		float: left;
		width: calc(calc(100% / 12) * 6);
	}

	.col-lg-7 { 
		float: left;
		width: calc(calc(100% / 12) * 7);
	}

	.col-lg-8 { 
		float: left;
		width: calc(calc(100% / 12) * 8);
	}

	.col-lg-9 { 
		float: left;
		width: calc(calc(100% / 12) * 9);
	}

	.col-lg-10 { 
		float: left;
		width: calc(calc(100% / 12) * 10);
	}

	.col-lg-11 { 
		float: left;
		width: calc(calc(100% / 12) * 11);
	}

	.col-lg-12 { 
		float: left;
		width: calc(calc(100% / 12) * 12);
	}
}