/* Welcome */

#welcome .welcome-wrapper__image {
    text-align: center;
}

#welcome .welcome-wrapper__text {
    margin-top: 80px;
}

#welcome .welcome-wrapper__text p {
    margin-bottom: 50px;
}

#welcome .welcome-wrapper__text p:first-child {
    font-size: 2rem;
}

/* Who I am */

#who_i_am {
    background-color: #F9F9F9;
}

#who_i_am .who_i_am-wrapper__image img {
    margin-top: 50px;
    width: 100%;
}

/* Work */

#work {
    background-color: #1F1F1F;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    color:#fff;
}

#work h2 {
    color: #fff;
    text-align: center;
}

#work h3 {
    color: #F9F9F9;
    text-align: center;
}

#work .work-wrapper__skills p {
    line-height: 1rem;
    font-size: 1.2rem;
}

#work .work-wrapper__skills-list__item {
    line-height: 2rem;
}

#work .work-wrapper__skills span {
    color: orange;
    font-style: italic;
}

#work .work-wrapper__clients-list {
    text-align: center;
}

#work .work-wrapper__clients-list img {
    max-width: 150px;
}

#work .work-wrapper__clients-list li {
    display: inline-block;
    padding: 20px;
}

/* Responsive */

/* Para escritorios medium */
@media (min-width: 992px) {
    #welcome-background {
        background-image: url('../img/escritorio.jpg');
        -webkit-filter: blur(5px);
        filter: blur(5px);
        width: 100%;
    }

    #welcome .welcome-wrapper__text {
        margin-top: 80px;
    }

    #who_i_am {
        background-color: transparent;
    }

    #who_i_am .who_i_am-wrapper__text {
        background-color: #F9F9F9;
        padding: 50px 60px;
        margin-top: 50px;
    }

    #who_i_am .who_i_am-wrapper__image img {
        margin-top: 0;
    }

    #work .work-wrapper__text {
        margin-left: calc(calc(100% / 3) / 2);
        width: calc(100% / 3 * 2);
        text-align: center;
    }
}

/* Para escritorios large */
@media (min-width: 1200px) {
    #welcome .welcome-wrapper__text {
        margin-top: 200px;
    }
}