/* Welcome */

#welcome .welcome-wrapper__image {
    text-align: center;
}

#welcome .welcome-wrapper__text {
    margin-top: 80px;
}

#welcome .welcome-wrapper__text p {
    margin-bottom: 50px;
}

#welcome .welcome-wrapper__text p:first-child {
    font-size: 2rem;
}

/* Who I am */

#who_i_am {
    background-color: #F9F9F9;
}

#who_i_am .who_i_am-wrapper__image img {
    margin-top: 50px;
}

/* Work */

#work {
    background-color: #191919;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    color:#fff;
}

#work h2 {
    color: #fff;
}

#work h3 {
    color: #F9F9F9;
}

/* Responsive */

/* Para escritorios medium */
@media (min-width: 992px) {
    #welcome .welcome-wrapper__text {
        margin-top: 150px;
    }

    #who_i_am {
        background-color: transparent;
    }

    #who_i_am .who_i_am-wrapper__text {
        background-color: #F9F9F9;
        padding: 50px 60px;
        margin-top: 50px;
    }

    #who_i_am .who_i_am-wrapper__image img {
        margin-top: 0;
    }
}

/* Para escritorios large */
@media (min-width: 1200px) {
    #welcome .welcome-wrapper__text {
        margin-top: 200px;
    }
}